{% load static%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Let's Connect</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="homeContainer">
        <div class="homeTextContainer">
            <h1 class="homeHeading1">
                Your fav spot for all<br/>get-togethers
            </h1>
            <h2 class="homeHeading2">
                we create memories!
            </h2>
            <a href="{% url 'lobby' %}" class="homeLink">Let's go</a>
        </div>
        <div class="homeImgContainer">
            <img src="{% static 'images/pic.jpeg' %}" class="homeImage"/>
        </div>
    </div>
</body>
</html>